#add-hamster{
    margin-top:         1em;
    width:              80%;
    text-align:         center;
    margin-left:        auto;
    margin-right:       auto;
    font-size:          2em;
}

#add-hamster img{
    width:              10em;
    height:             10em;
}