body{
    background-color:   #ffffff;
    margin:             0;
    font-family:        "VT323", monospace;
}

#application{
    width:              100%;
}

#hamster-transfer{
    width:              100%;
}