#header-bar{
    height:             7em;
    position:           static;
    top:                0;
    left:               0;
    background-color:   #222222;
    width:              100%;
    line-height:        6em;
}

#header-bar-title{
    display:            inline-block;
}

#header-bar-image{
    margin-top:         0.5em;
    height:             6em;
}
#header-bar-image:hover{
    cursor:             pointer;
}

.header-bar-button{
    color:              #000000;
    display:            inline-block;
    padding:            0.5em;
}

.header-bar-button:hover{
    cursor:             pointer;
    background-color:   #BFD3C1;
}