#header-bar{
    height:             7em;
    position:           static;
    top:                0;
    left:               0;
    background-color:   #68A691;
    width:              100%;
    line-height:        6em;
    border-bottom:      2px solid #666666;
}

#header-bar-title{
    display:            inline-block;
}

#header-bar-image{
    width:              7em;
    height:             7em;
}

.header-bar-button{
    color:              #000000;
    display:            inline-block;
    padding:            0.5em;
}

.header-bar-button:hover{
    cursor:             pointer;
    background-color:   #BFD3C1;
}